.card {
  display: block;
}

.center {
  margin: auto;
  width: 270px;
  /*border: 3px solid green;*/
  padding: 10px;
}

.eq {
  font-family: monospace;
  font-size: 24px;
}

input {
  width: 50px;
  margin-left: 0%;
  font-size: 24px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.error {
  color: red;
}
.correct {
  color: green;
}

.right {
  float: right;
}

.index {
  font-family: sans-serif;
  font-size: 16px;
}

.thick-filled-icons {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
